In [1]:
import pandas as pd

In [2]:
CCTV_Seoul = pd.read_csv('C:/python/CCTV_in_Seoul.csv',encoding='utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [3]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [4]:
CCTV_Seoul.columns[0]

'기관명'

In [6]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : '구별'}, inplace=True)
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [7]:
pop_Seoul = pd.read_excel('C:/python/population_in_Seoul.xls',
                          header=2,
                          usecols='B,D,G,J,N')
pop_Seoul.head()

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10089517  9814049  275468   1393671
1  종로구    163569   153780    9789     26512
2   중구    135427   126032    9395     21798
3  용산구    245245   229677   15568     37331
4  성동구    316068   308066    8002     42171

In [ ]:
pop_Seoul